.consultatie_an_tile_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 450px;
    background-color:rgb(123, 123, 222);
    color: white;
    margin: 20px;
}