.medici {
  //height: 110vh;
  background-color: #a9e3ec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
h2{color: white;}
.card {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}

h1 {
  color: rgb(51, 70, 165);
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;

  input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
  }

  button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: rgb(27, 142, 160);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .spacer {
    width: 50px;
  }

  .medic_put_one_line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}